#root{
  background-color: #83b5e7;
  height: 1600px;
}


.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headerDiv{
  text-align: center;
  background-color: #1883a0;
  padding: 5px;
  margin-bottom: 29px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

.card{
  margin-top: 29px;
  margin-bottom: 29px;
}

button:hover{
  background-color:  #61dafb;
      color: white;
      cursor: pointer;
}

button{
  background-color: #1883a0;
  color: aliceblue;
}

input{
  background-color: aqua;
  margin-left: 11px;
}

.card-body{
  background-color: #6171ba;
  border-radius: 11px;
}

.card-title {
  font-size: xx-large;
  text-align: center;
}

.card-text {
  font-size: larger;
  margin-left: 29px
}